body {
    background-color: #252830;
}

#titulo {

    color: white;

}

.navbar-default {
    background-color: #555;
    border-top-color: #555;
	border-right-color: #555;
	border-bottom-color: #555; /*8590ad*/
	border-left-color: #555;
	border-radius: 0px;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {float:none;}
.anim { display:none }

.panel{
	background-color: #252830; /*252830 color que estaba antes, tambien en panel heading*/
}

label{
    color: #fff;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #252830;
    border-color: #fff;
}

#linea1{ color: #fff;}  /*blue*/
#linea2{ color: #fff;} /*green*/
#linea3{ color: #fff;}   /*red*/
#linea4{ color: #fff;}   /*d2d210*/
#linea5{ color: #fff;}    /*orange*/

/*#referencia {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

#referencia h3 {
    margin-top: 0;
}

#referencia img {
    vertical-align: middle;
}*/

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}